body {
    margin: 50px;
}


table {
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.linha1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

caption {
    border: 1px solid black;
}

/* .feriados1 {
    display: flex;
    width: 253.75px;
    height: 195px;
    justify-content: center;
    gap: 50px;
}

.table1 {
    border: 1px solid black;
}

.table3 {
    border: 1px solid black;
}

.table2 {
    border: 1px solid black;
} */

.box1 {
    border: 1px solid black;
    width: 253.75px;
    height: 195px;
    display: flex;
    justify-content: center;
    gap: 50px

}

.box2 {
    border: 1px solid black;
    width: 253.75px;
    height: 195px;
    display: flex;
    justify-content: center;
    gap: 50px

}

.box3 {

        border: 1px solid black;
        width: 253.75px;
        height: 195px;
        display: flex;
        justify-content: center;
        gap: 50px
    
    }

.caixas {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 0px;
}