body {
    background-color: rgb(212, 233, 236);
  }

  b {
    color: rgb(0, 0, 0);
    font-family: verdana;
  }
  
  i {
    color: rgb(90, 90, 90);
    text-shadow: 1px 2px 4px rgb(192, 192, 192);
    background-color: azure;
    font-family: verdana;
    font-size: 35px;
  }

  table, ol {
    border: 20px;
    font-size: px;
  }

  .listasumario li, h4 {
    color:rgb(37, 1, 54);
    text-shadow: 1px 2px 4px rgb(167, 79, 189);
    
  }


